# Clé d'accès à l'API (choisir une valeur sécurisée)
# Exemple : openssl rand -hex 32
API_KEY=0c5819f3c190d3fa1331abcbd33d0sdcdfvfvfdvgfsdfdvccfddrefrefer
API_PORT=8000
API_HOST=0.0.0.0
API_BASE_URL=http://api:8000
DOCKERHUB_USERNAME=jodelnord
